<div class="jumbotron">
    <h1>Event API Search</h1>
    <p class="lead">Eventful is the world's largest collection of events, taking place in
    local markets throughout the world, from concerts and sports to singles 
    events and political rallies.</p>     
</div>
 
